body {
    padding: 0;
}

.info {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.25rem;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 1.5rem;
}

.info .infoMsg {
    margin-left: 3%;
    margin-right: 3%;
    /*background-color: #1b8cf4;*/
    background-image: url(../img/common/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1rem;
    margin: 0 auto;
    border-radius: 0.05rem;
    box-shadow: 0px 15px 30px 0px rgba(10, 57, 122, 0.25);

}

.info .infoMsg img {
    height: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 50%;
    margin-left: 0.1rem;
    float: left;

}

.info .infoMsg span {
    height: 0.5rem;
    line-height: 0.5rem;
    display: inline-block;
    margin-top: 0.25rem;
    float: left;
    margin-left: 0.05rem;
    color: #fff;
}

.houseUp {
    padding: 0.05rem 3% 0.05rem 3%;
    box-sizing: border-box;
    margin-top: 0.05rem;
    background-color: #ffffff;
    height: 0.5rem;
}

.houseUp .up {
    float: left;
    width: 49.5%;
    margin-right: 0.5%;
    background-color: #1b8cf4;
    height: 0.4rem;
    box-shadow: 0px 15px 30px 0px rgba(10, 57, 122, 0.25);
}

.houseUp .myHouse {
    float: left;
    width: 49.5%;
    margin-left: 0.5%;
    background-color: #1b8cf4;
    height: 0.4rem;
    box-shadow: 0px 15px 30px 0px rgba(10, 57, 122, 0.25);
}

ul {
    margin-top: 0.1rem;
}

ul li {
    height: 0.4rem;
    border-bottom: solid 2px #f2f2f2;
    line-height: 0.4rem;
    background-color: #ffffff;
    padding-right: 0.12rem;
    padding-left: 0.12rem;
    box-sizing: border-box;
    margin-top: 0.05rem;
}

ul li img {
    height: 0.12rem;
    float: right;
    padding-top: 0.14rem;
}

.fd {
    padding-right: 3%;
    padding-left: 3%;
    background: #ffffff;
    height: 0.35rem;
    color: #1f6bd3;
    text-align: center;
    line-height: 0.35rem;
    /*border: solid 1px #1f6bd3;*/
    /*border-radius: 0.3rem;*/
    margin-top: 0.15rem;
    width: 94%;
}