body {
    padding: 0;
    background-color: #ffffff;
}

.bgTop {
    height: 1.7rem;
    background-image: url("../img/common/bg.png");
    background-size: 100%;
    /*position: relative;*/
}

.bgTop .img2 {
    width: 0.1rem;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
}

.main {
    margin-left: 4%;
    width: 92%;
    padding: 0.2rem;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 15px 30px 0px rgba(10, 57, 122, 0.25);
    font-family: PingFang-SC-Regular;
    font-size: 0.15rem;
    padding-bottom: 0.1rem;
    margin-top: -0.2rem;

}

.main .selectMethod {
    height: 0.3rem;
    text-align: center;
    line-height: 0.3rem;
    margin-bottom: 0.15rem;

}

.main .selectMethod .tel {
    float: left;
    width: 50%;
}

.main .selectMethod .userName {
    float: left;
    width: 50%;
}

.borderColor {
    border-bottom: solid #1b8cf4 2px;

}

.main .telLogin {
    margin-bottom: 0.15rem;
}

.main .telLogin .quhao {
    width: 17%;
    float: left;
    height: 0.45rem;
    margin-right: 1%;
    border: solid 0.005rem #b3b3b3;

}

.main .telLogin .quhao .qh {
    width: 50%;
    float: left;
    line-height: 0.44rem;
    border-top: solid 0.005rem #b3b3b3;
    border-left: solid 0.005rem #b3b3b3;
    border-bottom: solid 0.005rem #b3b3b3;
    font-size: 0.1rem;
}

.main .telLogin .quhao img {
    height: 0.25rem;
    float: left;
    padding-top: 0.1rem;
}

.main .telLogin .phoLogin {
    float: left;
    width: 80%;
    height: 0.45rem;
    border-radius: 0.05rem;
    border: solid 0.005rem #b3b3b3;
    padding-left: 0.1rem;
    box-sizing: border-box;
}

.main .yzm {
    margin-bottom: 0.15rem;
}

.main .yzm .code {
    width: 70%;
    height: 0.45rem;
    border: solid 0.005rem #b3b3b3;
    padding-left: 0.1rem;
    box-sizing: border-box;
}

.main .user {
    margin-bottom: 0.15rem;
}

.main .user .userNameLogin {
    height: 0.45rem;
}

.main .passWord {
    margin-bottom: 0.15rem;
}

.main .passWord .pass {
    height: 0.45rem;
}

.main .btn {
    height: 0.5rem;
    border-radius: 0.05rem;
    text-align: center;
    line-height: 0.5rem;
    background-color: #1b8cf4;
    color: #fff;
}

.zc {
    width: 100%;
    position: fixed;
    bottom: 0.2rem;
    text-align: center;
}

.zc span {
    color: #1f6bd3;
}